// Copyright (c) 2018 Daktronics. All rights reserved.
// Use of this source code is governed by a MIT-style license that can be
// found in the LICENSE file.

#include "resource.h"
#include "windows.h"

#define RT_MANIFEST 24 
#define APP_MANIFEST 1

APP_MANIFEST RT_MANIFEST app.manifest

IDR_APPLICATION ACCELERATORS
BEGIN
    "V", ID_WINDOW_VSYNC, VIRTKEY, CONTROL, NOINVERT
	 VK_SPACE, ID_CLOCK_PAUSE, VIRTKEY, NOINVERT

END

IDR_APPLICATION MENU
BEGIN
  POPUP "View"
  BEGIN
	 POPUP "Background"
	 BEGIN
	   MENUITEM "None", ID_BACKGROUND_NONE
	   MENUITEM SEPARATOR
	   MENUITEM "Transparent Pattern", ID_BACKGROUND_TRANSPARENT
	   MENUITEM SEPARATOR
	   MENUITEM "Black (Opaque)", ID_BACKGROUND_BLACK
	   MENUITEM "Red", ID_BACKGROUND_RED
		MENUITEM "Green", ID_BACKGROUND_GREEN
	   MENUITEM "Blue", ID_BACKGROUND_BLUE
	 END
	 MENUITEM SEPARATOR
	 POPUP "Zoom"
    BEGIN
      MENUITEM "25%", ID_VIEW_ZOOM25
	   MENUITEM "50%", ID_VIEW_ZOOM50
	   MENUITEM "100%", ID_VIEW_ZOOM100
	   MENUITEM "200%", ID_VIEW_ZOOM200
    END
  END
END